<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <link href="{{- '~/src/styles/main.css' | url -}}" rel="stylesheet" />

    {% if not eleventyExcludeFromCollections %}
      <link href="{{- page | pageURL -}}" rel="canonical" />
    {% endif %}
  </head>
  <body>
    {{ content | safe }}

    <script src="~/src/scripts/main.js" type="module"></script>
    <script nomodule src="~/src/scripts/main.js"></script>
  </body>
</html>
